﻿
@{
    ViewBag.Title = "HTml";
}

<h2>HTml</h2>

<p>姓名 : <input type="text" name="name" value="" /></p>
<p>帳號 : <input type="text" name="name" value="" /></p>
<p>密碼 : <input type="password" name="name" value="" /></p>
<p>
    性別 :
    <input type="radio" name="gender" value="A" /> boy
    <input type="radio" name="gender" value="B" /> girl
</p>
<p>
    興趣 :
    <input type="checkbox" name="h-1" value="A" />running
    <input type="checkbox" name="h-2" value="B" />reading
    <input type="checkbox" name="h-1" value="C" />swimming
</p>
<p>關於我 : <textarea></textarea></p>