﻿
@{
    ViewBag.Title = "HTml";
}

<h2>Htmlhelper</h2>

<p>姓名 : @Html.TextBox("Username","Lin")</p>
<p>帳號 : @Html.TextBox("account")</p>
<p>密碼 : @Html.Password("pwd")</p>
<p>
    性別 :
    @Html.RadioButton("gender", "A") boy
    @Html.RadioButton("gender", "B") girl
</p>
<p>
    興趣 :
    @Html.CheckBox("habby-1", "A") running
    @Html.CheckBox("habby-2", "B") reading
    @Html.CheckBox("habby-3", "C") swimming
</p>
<p>關於我 : @Html.TextArea("aboutme")</p>


@*<p>姓名 : <input type="text" name="name" value="" /></p>
<p>帳號 : <input type="text" name="name" value="" /></p>
<p>密碼 : <input type="password" name="name" value="" /></p>
<p>
    性別 :
    <input type="radio" name="gender" value="A" /> boy
    <input type="radio" name="gender" value="B" /> girl
</p>
<p>
    興趣 :
    <input type="checkbox" name="h-1" value="A" />running
    <input type="checkbox" name="h-2" value="B" />reading
    <input type="checkbox" name="h-1" value="C" />swimming
</p>
<p>關於我 : <textarea></textarea></p>*@